@charset "utf-8";

@media (min-width: 992px) {
  .container_btn_connected {
    width: 25%;
  }
}

.btn_connected {
  background-color: var(--bg-connected);
  border: 0px;
  border-radius: 12px;
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  width: 100%;
}

.modal-content {
  background-color: var(--bg-modal);
  color: var(--text-dark);
}

.connected-hover:hover {
  background-color: var(--bg-connected);
  cursor: pointer;
}

.btnConnected {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.connected-metamask {
  width: 80%;
}

.connected-bsc {
  width: 80%;
}

.connected-hr {
}

.connected-close {
  font-size: 2em;
}

.connected-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.connected-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.connected-subtitle {
}

.connected-center_disconnect {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1195px) and (min-width: 992px) {
  .btn_connect_wallet {
    font-size: 0.63em;
  }
}

@media (max-width: 576px) {
  .connected-metamask {
    width: 20%;
  }

  .connected-bsc {
    width: 20%;
  }

  .connected-title {
    font-size: 0.8em;
  }

  .connected-subtitle {
    font-size: 0.6em;
  }

  .connected-center {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .connected-hr {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .btnConnected {
    margin-top: 0.5em;
    padding-right: 0.5em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
  }

  .connected_title {
    font-size: 0.9em;
  }
  .connected_subtitle {
    font-size: 0.8em;
  }

  .connected_btn {
    font-size: 0.7em;
  }

  .nes-dialog {
    padding: 0.5rem 0.5rem;
  }
}
