@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
:root {
  font-size: 16px;
  font-family: "Open Sans";
  --bg-primary: #020213;
  --text-primary: rgb(255, 184, 0);
  --text-secondary: rgb(209, 108, 0);
  --bg-connected: rgb(255, 165, 0);
  --bg-modal: rgb(229, 148, 0);
  --text-dark: rgb(102, 66, 0); }

.dark {
  --bg-primary: #020213;
  --text-primary: rgb(255, 184, 0);
  --text-secondary: rgb(209, 108, 0);
  --bg-secondary: #141418;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --icon-dark: #ffffff;
  --icon-light: #b6b6b6;
  /* --bg-main: #100e0e; */
  --bg-main: #f7f5f5;
  --bg-connected: #171a1c;
  --bg-farm-loading: #212629;
  --farm-ml: -1.2em;
  --farm-mt: 7em;
  --lottery-tr: 5.8vh; }

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
  --icon-dark: #b6b6b6;
  --icon-light: #000000;
  --bg-main: #f7f5f5;
  --bg-connected: #f7f5f5;
  --bg-farm-loading: #e4e4e4;
  --farm-ml: -1.6em;
  --farm-mt: 6.5em;
  --lottery-tr: 5.8vh; }

body {
  font-family: "Noto Sans",sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0; }

body::-webkit-scrollbar {
  width: 0.25rem; }

body::-webkit-scrollbar-track {
  background: var(--text-primary); }

body::-webkit-scrollbar-thumb {
  background: var(--text-secondary); }

main {
  margin-left: 3% !important;
  margin-right: 3% !important;
  padding: 1rem;
  background: var(--bg-main); }

@media (min-width: 992px) {
  main {
    margin-left: 16% !important;
    margin-right: 18% !important;
    margin-top: 0vh;
    padding: 1rem;
    background: var(--bg-main); } }

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
  background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8)); }

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0; }

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.nav_header {
  padding: 0px !important;
  text-align: center;
  padding-top: 10px !important;
  padding-left: 15% !important;
  padding-right: 15% !important; }

@media (min-width: 992px) {
  .nav_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; } }

.logo_header {
  margin-top: -4px; }

.navbar-dark .navbar-brand {
  color: var(--text-primary);
  font-family: "Reem Kufi", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-left: 8px; }

.navbar-dark .navbar-brand:hover {
  color: var(--text-primary) !important; }

.navbar-dark .navbar-nav .nav-link {
  color: var(--text-primary); }

.navbar-dark .navbar-nav .nav-link.active {
  color: var(--text-secondary); }

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--text-secondary); }

.navbar-dark .navbar-nav .nav-link {
  font-weight: 700;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none !important; }

@media (min-width: 992px) {
  .container_btn_connected {
    width: 25%; } }

.btn_connected {
  background-color: var(--bg-connected);
  border: 0px;
  border-radius: 12px;
  color: var(--text-dark);
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  width: 100%; }

.modal-content {
  background-color: var(--bg-modal);
  color: var(--text-dark); }

.connected-hover:hover {
  background-color: var(--bg-connected);
  cursor: pointer; }

.btnConnected {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.connected-metamask {
  width: 80%; }

.connected-bsc {
  width: 80%; }

.connected-close {
  font-size: 2em; }

.connected-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.connected-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.connected-center_disconnect {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media (max-width: 576px) {
  .connected-metamask {
    width: 20%; }
  .connected-bsc {
    width: 20%; }
  .connected-title {
    font-size: 0.8em; }
  .connected-subtitle {
    font-size: 0.6em; }
  .connected-center {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .connected-hr {
    margin-top: 1em;
    margin-bottom: 1em; }
  .btnConnected {
    margin-top: 0.5em;
    padding-right: 0.5em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9; }
  .connected_title {
    font-size: 0.9em; }
  .connected_subtitle {
    font-size: 0.8em; }
  .connected_btn {
    font-size: 0.7em; }
  .nes-dialog {
    padding: 0.5rem 0.5rem; } }

.footer a {
  color: var(--text-primary);
  font-weight: 700;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none !important; }

.footer a.active {
  color: var(--text-primary); }

.footer a:hover {
  color: var(--text-primary); }

.footer_container {
  margin-top: 2em; }

.footer_center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center; }

@media (max-width: 992px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.global_father {
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  display: flex; }

.global_child {
  background: #ffb800;
  border: 1px solid #cc8400;
  border-radius: 18px;
  box-shadow: orange 1px 1px 0px inset;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column; }

.global_child_separator {
  height: 24px;
  width: 24px; }

.global_child_container_main {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  padding: 16px; }

.global_child_container_data {
  display: flex; }

.global_child_container_values {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex: 1 1 0%; }

.global_child_container_title {
  color: #664200; }

.global_child_container_value {
  font-family: "Roboto Mono", monospace;
  color: #664200;
  font-size: 36px;
  font-weight: 700; }

.global_child_footer_container {
  font-size: 14px;
  padding: 8px 20px;
  color: #664200;
  border-top: 1px solid #cc8400; }

.global_child_footer_value {
  font-family: "Roboto Mono", monospace;
  float: right; }

.global_child_icon {
  font-size: 36px; }

.global_child_main_flex {
  flex: 1 1 0%; }

.global_child_footer_value_container {
  transform: scale(1);
  transform-origin: right bottom;
  transition: transform 0.5s ease 0s;
  display: inline-block; }

.global_child_tvl {
  width: 50% !important;
  min-width: 50%;
  max-width: 50%; }

.home_container_header {
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  padding-top: 24px;
  margin: 0px auto; }

.home_container_header_logo {
  font-size: 120px;
  height: 120px;
  line-height: 60px;
  text-align: center;
  width: 120px; }

.home_container_header_h1 {
  font-family: "Kaushan Script", sans-serif;
  color: #ffb800;
  font-size: 36px;
  font-weight: 700;
  margin: 0px;
  padding: 0px; }

.home_container_header_h3 {
  color: orange;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  text-align: center; }

@media (max-width: 768px) {
  .global_father {
    width: 100%;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    align-items: stretch; }
  .global_child_tvl {
    width: 100% !important;
    min-width: 100%;
    max-width: 100%; } }

/*# sourceMappingURL=main.css.map */